body {
  font-family: sans-serif;
}

.sidebar {
  padding: 1rem;
}

.list-items {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #000;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

img:first-of-type {
  width: 30%;
}

.subtitle {
  font-size: 1.5rem;
}
